  /* Login.css */

  .form-background {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    font-family: 'Segoe UI', sans-serif;
  }

    .form-background .card {
    border-radius: 20px;
    background-color: #fff;
    border: none;
    transition: all 1s ease-in-out 0.2s;
  }
    .form-background .card:hover{
    transform: scale(1.01);
  }

   .form-background  .card h4 {
    font-weight: 700;
    color: #2c2c2c;
    letter-spacing: 0.5px;
  }

    .form-background .form-label {
    font-weight: 600 !important;
    color: #333;
  }

   .form-background  .captcha-box {
    padding: 0.5rem 1rem;
    background-color: #f3f3f3;
    border-radius: 6px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
    user-select: none;
  }

    .form-background .refresh-icon {
    cursor: pointer;
    color: #2575fc;
    transition: transform 0.3s ease;
  }

    .form-background .refresh-icon:hover {
    transform: rotate(180deg);
  }

    .form-background .login-btn {
    background-color: #2575fc;
    border: none;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 10px;
    font-size: 16px;
  }

    .form-background .login-btn:hover {
    background-color: #1a5fd1;
    box-shadow: 0 0 10px rgba(33, 111, 255, 0.3);
  }



  @media (max-width: 400px) {
    .card {
      padding: 1rem !important;
    }

    .captcha-box {
      font-size: 16px;
    }
  }
  .alert {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
